body {
    font-family: 'Amiri',Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
header{
    background-color: #007BFF;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Tajawal';
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: auto;
    gap: 25px;
    padding: 20px;
    direction: rtl;
}
.first-h1{
    margin-top: 15px;
    font-size: 22px;
    align-items: center;
    justify-content: center;
}
.p2{
    margin-top: 40px;
}
.card{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
}
.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}
.btn {
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    transition: all 0.3s ease;
}
.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
}
span{
    color: white;
}
.prayer-times {
    width: 100%;
    margin-top: 15px;
    display: none;
}
.prayer-times-container {
    display: none;
    width: 100%;
    min-height: 45vh;
}
.country-selector {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #007BFF;
    width: 80%;
    max-width: 300px;
    direction: rtl;
}
.back-btn {
    background-color: #6c757d;
    margin-top: 20px;
}
.back-btn:hover {
    background-color: #5a6268;
}

@media (max-width: 768px){
    .container{
        grid-template-columns: 1fr;
        padding: 10px;
    }
}




